* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 87.16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1484px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
